In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def raw_to_df(raw_data_split, column_names):
    df = pd.DataFrame()
    for i in range(len(column_names)):
        df[column_names[i]] = [float(raw_data_split[j]) for j in range(i,len(raw_data_split), len(column_names))]
    return df

In [8]:
raw_data = """217.0000 382.0000 
196.0000 388.0000 
303.0000 391.0000 
270.0000 415.0000 
325.0000 456.0000 
260.0000 460.0000 
300.0000 472.0000 
325.0000 478.0000 
336.0000 494.0000 
345.0000 516.0000
325.0000 525.0000
362.0000 554.0000
315.0000 575.0000
355.0000 579.0000
325.0000 585.0000
370.0000 586.0000
390.0000 590.0000
420.0000 608.0000
410.0000 610.0000
383.0000 616.0000
315.0000 618.0000
267.0000 623.0000
420.0000 627.0000
300.0000 630.0000
410.0000 635.0000
220.0000 640.0000
403.0000 648.0000
350.0000 650.0000
390.0000 655.0000
385.0000 662.0000
470.0000 663.0000
322.0000 677.0000
540.0000 680.0000
433.0000 690.0000
295.0000 695.0000
340.0000 695.0000
500.0000 695.0000
450.0000 720.0000
415.0000 721.0000
540.0000 730.0000
360.0000 731.0000
450.0000 733.0000
395.0000 745.0000
430.0000 751.0000
332.0000 752.0000
397.0000 752.0000
446.0000 769.0000
480.0000 773.0000
352.0000 773.0000
410.0000 775.0000
380.0000 785.0000
610.0000 788.0000
530.0000 790.0000
360.0000 795.0000
305.0000 801.0000"""

In [9]:
column_names = ['food_expenditure', 'total_expenditure']

In [10]:
raw_to_df(raw_data.split(), column_names)

    food_expenditure  total_expenditure
0              217.0              382.0
1              196.0              388.0
2              303.0              391.0
3              270.0              415.0
4              325.0              456.0
5              260.0              460.0
6              300.0              472.0
7              325.0              478.0
8              336.0              494.0
9              345.0              516.0
10             325.0              525.0
11             362.0              554.0
12             315.0              575.0
13             355.0              579.0
14             325.0              585.0
15             370.0              586.0
16             390.0              590.0
17             420.0              608.0
18             410.0              610.0
19             383.0              616.0
20             315.0              618.0
21             267.0              623.0
22             420.0              627.0
23             300.0              630.0
24             410.0              635.0
25             220.0              640.0
26             403.0              648.0
27             350.0              650.0
28             390.0              655.0
29             385.0              662.0
30             470.0              663.0
31             322.0              677.0
32             540.0              680.0
33             433.0              690.0
34             295.0              695.0
35             340.0              695.0
36             500.0              695.0
37             450.0              720.0
38             415.0              721.0
39             540.0              730.0
40             360.0              731.0
41             450.0              733.0
42             395.0              745.0
43             430.0              751.0
44             332.0              752.0
45             397.0              752.0
46             446.0              769.0
47             480.0              773.0
48             352.0              773.0
49             410.0              775.0
50             380.0              785.0
51             610.0              788.0
52             530.0              790.0
53             360.0              795.0
54             305.0              801.0