In [1]:
import pandas as pd
import numpy as np

In [70]:
cpi = pd.DataFrame()

In [71]:
cpi['date'] = [int(year) for year in """1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005""".split()]

In [72]:
cpi['us'] = [float(number) for number in """82.4 
90.9 
96.5 
99.6 
103.9
107.6
109.6
113.6
118.3
124.0
130.7
136.2
140.3
144.5
148.2
152.4
156.9
160.5
163.0
166.6
172.2
177.1
179.9
184.0
188.9
195.3""".split()]

In [73]:
def string_to_float(list_of_columns, list_of_names):
    for country, name in zip(list_of_columns,list_of_names):
        cpi[name] = [float(number) for number in country.split()]

In [74]:
string_to_float([canada, japan, france, germany, italy, uk], ['canada', 'japan', 'france', 'germany', 'italy', 'uk'])

In [51]:
canada = """76.1 
85.6 
94.9 
100.4
104.7
109.0
113.5
118.4
123.2
129.3
135.5
143.1
145.3
147.9
148.2
151.4
153.8
156.3
157.8
160.5
164.9
169.1
172.9
177.7
181.0
184.9"""

In [52]:
japan = """ 91.0
 95.3
 98.1
 99.8
102.1
104.2
104.9
104.9
105.6
108.0
111.4
115.0
117.0
118.5
119.3
119.2
119.3
121.5
122.2
121.8
121.0
120.1
119.0
118.7
118.7
118.3"""

In [53]:
france = """ 72.2
 81.8
 91.7
100.3
108.0
114.3
117.2
121.1
124.3
128.7
132.9
137.2
140.4
143.4
145.8
148.4
151.4
153.2
154.2
155.0
157.6
160.2
163.3
166.7
170.3
173.2"""

In [54]:
germany = """ 86.7
 92.2
 97.0
100.3
102.7
104.8
104.6
104.9
106.3
109.2
112.2
116.3
122.2
127.6
131.1
133.3
135.3
137.8
139.1
140.0
142.0
144.8
146.7
148.3
150.8
153.7"""

In [55]:
italy = """ 63.9
 75.5
 87.8
100.8
111.4
121.7
128.9
135.1
141.9
150.7
160.4
170.5
179.5
187.7
195.3
205.6
213.8
218.2
222.5
226.2
231.9
238.3
244.3
250.8
256.3
261.3"""

In [56]:
uk = """ 78.5
 87.9
 95.4
 99.8
104.8
111.1
114.9
119.7
125.6
135.4
148.2
156.9
162.7
165.3
169.3
175.2
179.4
185.1
191.4
194.3
200.1
203.6
207.0
213.0
219.4
225.6"""

In [78]:
cpi.head()

   date     us  canada  japan  france  germany  italy     uk
0  1980   82.4    76.1   91.0    72.2     86.7   63.9   78.5
1  1981   90.9    85.6   95.3    81.8     92.2   75.5   87.9
2  1982   96.5    94.9   98.1    91.7     97.0   87.8   95.4
3  1983   99.6   100.4   99.8   100.3    100.3  100.8   99.8
4  1984  103.9   104.7  102.1   108.0    102.7  111.4  104.8

In [81]:
def calc_inflation(previous, current):
    return round(((current - previous) / previous) * 100,2)

In [82]:
calc_inflation(76.1, 85.6)

12.48

In [91]:
def get_inflation_values():
    inflation_list = []
    for i in range(1, len(cpi.canada)):
        inflation_list.append(calc_inflation(cpi.canada[i-1], cpi.canada[i]))

In [92]:
inflation_list

[12.48,
 10.86,
 5.8,
 4.28,
 4.11,
 4.13,
 4.32,
 4.05,
 4.95,
 4.8,
 5.61,
 1.54,
 1.79,
 0.2,
 2.16,
 1.59,
 1.63,
 0.96,
 1.71,
 2.74,
 2.55,
 2.25,
 2.78,
 1.86,
 2.15]